* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

.root {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* GLOBAL VAR */

.invalid {
  color: #ff0000;
}

.button {
  transition: 0.5s ease-in-out;
}

.button:hover {
  background-color: rgb(44, 122, 200);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

header > .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

header > .logo > a > .logo--image {
  width: 120px;
}

.header > .logo > .logo--text > p {
  margin: 0;
}

.custom-hr {
  height: 10px;
  background-color: #369;
}

/* NAVBAR */

nav {
  margin: 30px 0;
}

nav > .nav--buttons {
  display: flex;
  justify-content: space-between;
}

.nav--start > a,
.nav--end > a {
  text-decoration: none;
  padding: 14px 16px;
  background-color: #369;
  color: white;
  margin-left: 20px;
}

/* Home Page */

.about-section > .welcome--section {
  display: flex;
  padding: 20px;
  border: 3px solid #369;
}

.welcome--section > .welcome--person {
  width: 300px;
}

.about--congressman {
  margin-left: 30px;
}

.about--title {
  margin: 0;
}

.about--congressman > p {
  text-align: justify;
}

.vmgo-section {
  display: flex;
  justify-content: space-around;
}

.vmgo--tile {
  width: 30%;
}

.vmgo--tile-title {
  text-align: center;
}

.vmgo--tile-title > h4 {
  background-color: #369;
  color: white;
  padding: 8px;
}

.contactNum--title {
  text-align: center;
}

.contactNum--title > h4 {
  padding: 8px;
  color: white;
  background-color: #369;
}

.contactNum--tiles-section {
  display: flex;
  justify-content: space-around;
}

.contactNum--tile > h5 {
  margin: 0;
}

.getStarted-title {
  text-align: center;
}

.getStarted-title > h4 {
  padding: 8px;
  color: white;
  background-color: #369;
}

.getStarted--details {
  display: flex;
  flex-direction: column;
}

.getStarted--details > p {
  margin-top: 0;
}

.getStarted--button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.getStarted--button > a {
  padding: 16px 14px;
  color: white;
  text-decoration: none;
  background-color: #369;
}

/* Login Page */
.login-form {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 10rem auto;
  padding: 16px 18px;
  background-color: #369;
  border: 5px solid rgb(31, 50, 69);
}

.login-form > h1 {
  margin-top: 0;
  text-align: center;
}

.form--text-box {
  background-color: #7efeff70;
}

.form--text-box::placeholder {
  color: white;
}

.eye {
  margin-left: -30px;
  cursor: pointer;
}

.form--submit-btn {
  background-color: #7efeff70;
}

/* Footer */

footer {
  text-align: center;
}
