* {
  box-sizing: border-box;
}

** {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

.root {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* GLOBAL VAR */

.invalid {
  color: #980505;
}

.success {
  color: rgb(24, 168, 24);
}

.button {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(44, 122, 200);
}

.middle-button {
  display: flex;
  justify-content: center;
}

.status-quo {
  color: rgb(36, 78, 119);
  font-style: italic;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

header > .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

header > .logo > a > .logo--image {
  width: 80px;
}

.header > .logo > .logo--text > p {
  margin: 0;
}

.custom-hr {
  height: 10px;
  background-color: #369;
}

/* NAVBAR */

nav {
  margin: 30px 0;
}

nav > .nav--buttons {
  display: flex;
  justify-content: space-between;
}

.nav--start > a,
.nav--end > a,
.nav--end > p > a {
  text-decoration: none;
  padding: 14px 16px;
  background-color: #369;
  color: white;
  margin-left: 20px;
}

.nav--end > p {
  margin: 0;
}

/* Home Page */

.about-section > .welcome--section {
  display: flex;
  padding: 20px;
  border: 3px solid #369;
}

.welcome--section > .welcome--person {
  width: 300px;
}

.about--congressman {
  margin-left: 30px;
}

.about--title {
  margin: 0;
}

.about--congressman > p {
  text-align: justify;
}

.vmgo-section {
  display: flex;
  justify-content: space-around;
}

.vmgo--tile {
  width: 30%;
}

.vmgo--tile-title {
  text-align: center;
}

.vmgo--tile-title > h4 {
  background-color: #369;
  color: white;
  padding: 8px;
}

.contactNum--title {
  text-align: center;
}

.contactNum--title > h4 {
  padding: 8px;
  color: white;
  background-color: #369;
}

.contactNum--tiles-section {
  display: flex;
  justify-content: space-around;
}

.contactNum--tile > h5 {
  margin: 0;
}

.getStarted-title {
  text-align: center;
}

.getStarted-title > h4 {
  padding: 8px;
  color: white;
  background-color: #369;
}

.getStarted--details {
  display: flex;
  flex-direction: column;
}

.getStarted--details > p {
  margin-top: 0;
}

.getStarted--button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.getStarted--button > a {
  padding: 16px 14px;
  color: white;
  text-decoration: none;
  background-color: #369;
}

/* Login Page */
.login-form {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 10rem auto;
  padding: 16px 18px;
  background-color: #369;
  border: 5px solid rgb(31, 50, 69);
}

.login-form > h1 {
  margin-top: 0;
  text-align: center;
}

.form--text-box {
  background-color: #7efeff70;
  transition: 0.5 ease;
}

.form--text-box::placeholder {
  color: white;
}

.eye {
  margin-left: -30px;
  cursor: pointer;
}

.form--submit-btn {
  background-color: #7efeff70;
  padding: 8px;
}

.form--date-box {
  background-color: #7efeff70;
}

.form--select {
  background-color: #7efeff70;
}

/* Registration Form */
.registration-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10rem auto;
  padding: 16px 18px;
  background-color: #369;
  border: 5px solid rgb(31, 50, 69);
}

.registration-form > h1 {
  color: white;
  text-align: center;
  margin: 0;
}

.form--form_section > form > p {
  color: white;
  text-align: center;
}

.focusable-text:focus {
  width: 250px;
}

.regi-box {
  width: 300px;
}

form > input:disabled {
  color: white;
  cursor: text;
}

.registration-process {
  padding: 16px;
  width: 50%;
  margin: 10rem auto;
}

.registration-process > h1 {
  color: white;
  background-color: #369;
  text-align: center;
}

.registration--status {
  padding: 0 1.5rem;
}

.registration--status > p > a {
  text-decoration: none;
  color: blue;
}

/* OTP */
.digit-group input[type="text"] {
  width: 30px;
  height: 50px;
  background-color: #18182a;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  color: white;
  margin: 0 2px;
}

.enterOTP-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #369;
  padding: 16px;
  width: 50%;
  margin: 10rem auto;
}

/* Assistance */

.assistance-section {
  padding: 20px;
}

.assistance--about-assistance > h4 {
  background-color: #369;
  color: white;
  padding: 8px;
  text-align: center;
}

.assistance--list {
  display: flex;
  justify-content: space-around;
}

.assistance--block {
  width: 30%;
}

.assistance--block > h4 {
  background-color: #369;
  color: white;
  padding: 8px;
}

.assistance--block > a {
  text-decoration: none;
  color: white;
  background-color: #369;
  padding: 8px;
  margin-left: auto;
}

/* My Assistance */
.active-assistance-list {
  padding: 16px;
  width: 50%;
  margin: 10rem auto;
}

.active-assistance-list > h1 {
  color: white;
  background-color: #369;
  text-align: center;
}

.active-assistance-list > h4 {
  padding: 0 1.5rem;
}

.active-assistance--section {
  padding: 0 1.5rem;
  margin: 1.5rem;
  border: 2px solid #369;
  text-align: center;
}

/* Application Form */
.application-form {
  padding: 14px;
  width: 50%;
  margin: 10rem auto;
}

.application-form1 {
  padding: 14px;
  width: 50%;
  margin: 10rem auto;
  background-color: #369;
}

.application-form > h3 {
  background-color: #369;
  padding: 16px;
  text-align: center;
}

.application--details {
  padding: 1.5rem;
  margin: 1.5rem;
  border: 2px solid #369;
  text-align: center;
}

.application--details > h4 {
  margin-top: 0;
}

.application--details > a {
  background-color: #369;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 16px;
}

/* Application Success */
.application-status {
  padding: 14px;
  width: 50%;
  margin: 10rem auto;
}

.application-status > h1 {
  background-color: #369;
  padding: 16px;
  text-align: center;
}

.application-status--details {
  padding: 1.5rem;
  margin: 1.5rem;
  border: 2px solid #369;
  text-align: center;
}

/* Profile */
.profile-section {
  padding: 14px;
  width: 60%;
  margin: 10rem auto;
}

.profile-section--header {
  background-color: #369;
  padding: 8px;
  color: white;
  text-align: center;
}
.profile-section--header > h2 {
  margin: 0;
}

.profile-section > h3 {
  background-color: #369;
  color: white;
  padding: 8px;
}

.profile-section--tile {
  padding: 1.5rem;
  margin: 1.5rem;
  border: 2px solid #369;
}

.reminder {
  font-size: 15px;
  font-style: italic;
  padding: 0 30px;
}

/* About Page */

.personell-title {
  background-color: #369;
  padding: 8px;
  color: white;
  text-align: center;
}

.personell-section {
  margin: 1.5rem;
  display: flex;
}

.personell--tile {
  display: flex;
  align-items: center;
  width: 50%;
}

.personell--tile > .personell-person {
  width: 200px;
  height: 200px;
}

.personell--info {
  margin-left: 10px;
}

.personell--info > h4 {
  margin-bottom: 0;
}

.personell--info > p {
  font-size: 14px;
}

.addresses {
  margin: 1rem;
  margin-bottom: 2rem;
}

.address--title > h4 {
  background-color: #369;
  color: white;
  padding: 8px;
  text-align: center;
}

.address-tiles {
  display: flex;
  justify-content: space-between;
}

.address--tile {
  width: 30%;
  text-align: center;
  border: 1px solid #369;
  cursor: pointer;
  transition: 0.5s ease;
}

.address--tile:hover {
  background-color: #369;
  color: white;
  border: 1px solid #18182a;
}

/* Footer */

footer {
  text-align: center;
}
